apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo
  namespace: demo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-demo
  template:
    metadata:
      labels:
        app: nginx-demo
    spec:
      volumes:
        - name: secret-volume
          secret:
            secretName: my-secret
      containers:
      - name: nginx
        image: nginx:1.25
        volumeMounts:
          - name: secret-volume
            mountPath: "/etc/foo"
            readOnly: true
        envFrom:
          - configMapRef:
              name: my-configmap     
        ports:
        - containerPort: 80
